{{ partial "header.html" . }}

<div class="page-wrapper">
  {{ partial "sidebar.html" . }}
  <div class="content-wrapper">
    <div class="sidebar-toggle" onclick="toggle_sidebar('sidebar-open');return false;"><a href="#">&#59675;</a></div>

    <div class="cards">
      <div class="card main" id="get-started">
        {{ $currentVersion := replaceRE "v" "" (index (findRE "[^/]+.*?" .RelPermalink) 0) }}
		<h1> {{ i18n "layout-versionlanding-getstarted" . }}  {{ $currentVersion }}</h1>
		<a class="btn" href="get-started/#start-with-influxdb-cloud-2-0"> {{ i18n "layout-versionlanding-start-cloud" }}</a>
		<a class="btn oss" href="get-started/#start-with-influxdb-oss"> {{ i18n "layout-versionlanding-start-oss" }}</a>
      </div>
      {{ partial "svgs/hive.svg" }}
      <div class="group">

        <a class="card sm" href="write-data">
			<h3>{{ i18n "layout-versionlanding-writedata-title" }}</h3>
		  <p>{{ i18n "layout-versionlanding-writedata-content" }}</p>
        </a>

        <a class="card sm"href="query-data">
			<h3>{{ i18n "layout-versionlanding-querydata-title" }}</h3>
		  <p>{{ i18n "layout-versionlanding-querydata-content" }}</p>
        </a>

        <a class="card sm" href="process-data">
			<h3>{{ i18n "layout-versionlanding-processdata-title" }}</h3>
		  <p>{{ i18n "layout-versionlanding-processdata-content" }}</p>
        </a>

        <a class="card sm" href="visualize-data">
			<h3>{{ i18n "layout-versionlanding-vusualdata-title" }}</h3>
			<p>{{ i18n "layout-versionlanding-vusualdata-content" }}</p>
        </a>

        <a class="card sm" href="monitor-alert">
			<h3>{{ i18n "layout-versionlanding-monitoralert-title" }}</h3>
			<p>{{ i18n "layout-versionlanding-monitoralert-content" }}</p>
        </a>

      </div>
    </div>

    <!-- {{ partial "article.html" . }} -->
    <div class="copyright">© {{ now.Year }} InfluxData, Inc.</div>
  </div>
</div>

{{ partial "footer.html" . }}
